# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Supabase Edge Function
SUPABASE_FUNCTION_URL=

# Zoho Mail API
ZOHO_FROM_EMAIL=hutton@6thlevel.net
ZOHO_ACCOUNT_ID=
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
